<div class="container" >
  <div class="row vertical-align">
   <div class="col-md-6">
     <% if current_user != @user %>
         <p>
         <h3><%= link_to "See #{@user.first_name} Wishlists", user_wishlists_path(@user) %> </h3>
         </p>
     <% else %>
         <br>
         <h4 class="text-style " >Your Username: <%= current_user.first_name if current_user.first_name %></h4>
         <h4>Your Last Name: <%= current_user.last_name if current_user.last_name  %></h4>
         <br>
         <%= button_to "Edit Your Account Info", edit_user_registration_path, method: :get, class: "btn btn-primary btn-lg" %>
     <% end %>
   </div>
   <div class="col-md-6">
     <% if current_user == @user %>
      <h3>Gifts You Are Buying</h3>
      <% @purchases.each.with_index(1) do |purchase, i|  %>
      <h4><%= i %>. <%= link_to purchase.name, gift_path(purchase) %> for <%= link_to purchase.wishlist.user.first_name, user_path(purchase.wishlist.user) %>
   </h4>
     <% end %>
         <% end %>
   </div>
  </div>
 </div>
