<h4>Welcome</h4>

<% if current_user.wishlists %>
<%= link_to 'Your Wishlists', user_wishlists_path(current_user.wishlists) %>
<% end %>

<br>
<h4>Create New Wishlist</h4>
<br>
<%= link_to 'New Wishlist', new_wishlist_path %>
<br>
<h4>Find User</h4>
<br>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
