<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= link_to "Go Back", user_wishlist_path(@gift.wishlist.user, @gift.wishlist) %>
    </div>
    <div class="col-sm-6">

      <% if current_user.id != @user.id %>

          <!-- <% if @gift.status == "receiving" %>
          <p class="button-center padding-bottom-10">
            <span class="btn icon border blue hover-disable hover-text-blue round">
              <i class="fa fa-check"></i>
            </span>
          </p>
          <% end %> -->

        <h2 class="center-text"> <%=  @gift.wishlist.user.first_name %> realy wants </h2>
        <div class="center-text gift-name-color">
        <h1><strong><%= @gift.name.upcase %> </strong></h1>
        </div>
        <div class="center-text">
        <h5 >Store preference: <%= link_to @gift.link, @gift.link if @gift.link %> <%= "none" if @gift.link == nil %></h5>
        <br>
        <h4 class="center-text"><%= "You are getting it for #{ @gift.wishlist.user.first_name}" if @gift.status == "receiving" && @gift.friend_buyers.include?(current_user) %></h4>
        <h4 class="center-text"><%= "Someone is getting it already for #{ @gift.wishlist.user.first_name}" if @gift.status == "receiving" && !@gift.friend_buyers.include?(current_user) %></h4>
        <%= button_to "I will get it!", gift_path(@gift, :gift => {:status => "receiving"}), method: :patch, class: "btn btn-primary" if @gift.status == "wishing" && current_user.id != @user.id %>
      </div>
        <%= button_to "Lets split", user_path(current_user), class: "btn btn-primary" if !current_user %>
        <br>
        <br>
      <% if @gift.comments.size > 0 %>
        <br>
        <br>
        <div style="color:#eb1478">
        <h3 class="center-text">COMMENTS:</h3>
        </div>
        <br>
        <ul style="list-style-type:none" class="center-text" id="list-comments">
        </ul>
      <!-- <% @comments.each do |comment| %>
        <div>
          <div style="color:#5e5e5f">
          <h4 class="center-text"><%= comment.content %> </h4>
        </div>
          <div class="center-right">
            <h5 >by <%= comment.user.first_name if current_user.id != comment.user.id %> <%= "You" if current_user.id == comment.user.id %></h5>
               <p id="comment-delete"><%= link_to 'Delete', gift_comment_path(@gift, comment), method: :delete, data: { confirm: 'Are you sure?' } if current_user.id == comment.user_id %></p>
          </div>
        <% end %> -->
      <% end %>
      <div class="center-text">
      <%= render 'comments/form' %>
    </div>
  <% else %>
      <h1 class="center-text">You want</h1>
      <div class="center-text gift-name-color">
              <h1><%= @gift.name %></h1>
      </div>
      <div class="center-text">
        <h3>From: <%= link_to @gift.link if @gift.link %> <%= "no preference" if @gift.link == "" %></h3>
        <br>
        <%= link_to "Edit", edit_gift_path(@gift) %>
        <%= link_to "Delete", gift_path(@gift), :method => 'DELETE' %>
      </div>

  <%end%>

    </div>

  </div>
</div>
