<%= link_to "Go Back", user_wishlist_path(@gift.wishlist.user, @gift.wishlist) %>
<% if current_user.id != @user.id %>

    <% if @gift.status == "receiving" %>
    <p class="button-center padding-bottom-10">
      <span class="btn icon border blue hover-disable hover-text-blue round">
        <i class="fa fa-check"></i>
      </span>
    </p>
    <% end %>

      <h3> <%=  @gift.wishlist.user.first_name %> realy wants <strong><%= @gift.name %></h3> </strong>
      <h5>Store preference: <%= link_to @gift.link, @gift.link if @gift.link %> <%= "none" if @gift.link == nil %></h5>
      <br>
      <span class="icon">
      <i class="pull-left glyphicon glyphicon-ok"></i>
      <h4><%= "You are getting it for #{ @gift.wishlist.user.first_name}" if @gift.status == "receiving" && @gift.friend_buyers.include?(current_user) %></h4>
      </span>
      <h4><%= "Someone is getting it already for #{ @gift.wishlist.user.first_name}" if @gift.status == "receiving" && !@gift.friend_buyers.include?(current_user) %></h4>
      <%= button_to "I am getting it!", gift_path(@gift, :gift => {:status => "receiving"}), method: :patch, class: "btn btn-primary" if @gift.status == "wishing" && current_user.id != @user.id %>
      <br>
      <br>
    <% if @gift.comments.size > 0 %>
      <br>
      <br>
      <div style="color:#ff7473">
      <h4>Comments:</h4>
      </div>
    <% @comments.each do |comment| %>
      <div>
        <%= comment.content %>
        <strong>by <%= comment.user.first_name if current_user.id != comment.user.id %> <%= "You" if current_user.id == comment.user.id %></strong>
        <p><%= link_to 'Delete', gift_comment_path(@gift, comment), method: :delete, data: { confirm: 'Are you sure?' } if current_user.id == comment.user_id %></p>
      <% end %>
    <% end %>
    <%= render 'comments/form' %>
<% else %>
    <h3><%= @gift.name %></h3>
    <h5>Store preference: <%= link_to @gift.link if @gift.link %> <%= "none" if @gift.link == nil %></h5>
    <%= link_to "Edit", edit_gift_path(@gift) %>
    <%= link_to "Delete", gift_path(@gift), :method => 'DELETE' %>
<%end%>
