<div class="container">
  <div class="row vertical-align">
         <h3>YOUR FRIENDS</h3>
         <br>
       <%= "You do not have any friends yet, start searching." if current_user.friends.size == 0 %>
         <% current_user.friendships.each do |friendship| %>
           <p>
             <table>
               <tr>
                 <td><h4><%= link_to "#{friendship.friend.first_name}", user_wishlists_path(friendship.friend) %></h4></td>
                 <td><h5><%= link_to 'Unfriend', user_wishlists_path(friendship.friend), :method => :delete %></h5></td>
               </tr>
             </table>
           </p>
         <% end %>
         <br>
         <br>
         <br>
         <br>

         <h3>FIND USER</h3>
         <br>
         <%= form_tag(users_path, :method => "get", id: "search-form") do %>
             <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
             <%= submit_tag "Search", :name => nil, class: "btn btn-primary btn-lg"  %>
         <% end %>
  </div>
 </div>
