<%= form_for [current_user, @wishlist] do |f| %>

  <p> <h5>Wishlist Title:</h5>
    <%= f.text_field :name %></p>
  <p>
  <h5>Add First Gift</h5>
    <%= f.fields_for :gifts  do |gift| %>
  </p>
  <p>
   <%= gift.text_field :name, placeholder: "What" %>
  </p>
  <p>
   <%= gift.text_field :link, placeholder: "From where" %>
  </p>
<% end %>
<%= f.submit "Add Wishlist", class: "btn btn-primary" %>
<% end %>
