<%= form_for [@user, @wishlist] do |f| %>
<% if @wishlist.errors.any? %>
    <h6><%= pluralize(@wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h6>
    <ul>
      <% @wishlist.errors.full_messages.each do |msg| %>
      <div style="color:#ff0000">
        <li><%= msg %></li>
        </div>
      <% end %>
    </ul>
  <% end %>

  <p> <h5>Wishlist Title:</h5>
    <%= f.text_field :name %></p>
  <p>
  <h5>Add First Gift</h5>
    <%= f.fields_for :gifts  do |gift| %>
  </p>
  <p>
   <%= gift.text_field :name, placeholder: "What" %>
  </p>
  <p>
   <%= gift.text_field :link, placeholder: "From where" %>
  </p>
<% end %>
<%= f.submit "Add Wishlist", class: "btn btn-primary" %>
<% end %>
