
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <%= link_to "Go Back", user_wishlists_path(@wishlist.user) %>
    </div>
    <div class="col-sm-6">
      <h4><%= "Your wishlist" if current_user.id == @wishlist.user.id %> </h4>
       <h3><%= @wishlist.name %> list</h3>
       <% if current_user.id == @user.id || @user.friendships.include?(Friendship.find_by(friend_id: current_user.id, user_id: @user.id)) %>
      <br>
      <br>
      <% number = 0 %>
      <% @gifts.each.with_index(1) do |g, i| %>
      <div class="gift-name">
        <div class="<%= 'gift-receiving-name' if g.status == 'receiving' %>">
          <h4><%= i %>. <%= link_to g.name.upcase, gift_path(g.id)%> </h4>
        </div>
      </div>
       <h5>Store preference: <%= link_to g.link, g.link if g.link %></h5>
      <% end %>

      <br>
      <br>
        <% if current_user.id == @wishlist.user.id %>
          <div style="color:#47b8e0">
          <h4>ADD MORE WISHES</h4>
          </div>
          <%= render partial: 'gifts/form', locals: {wishlist: @wishlist}  if current_user.id == @user.id%>
        <% end %>
      <% else %>
        <h4>Only friends can see user's wishlists</h4>
        <%= link_to 'Become Friends', friendships_path(:friend_id => @user.id), :method => :post %>
      <% end %>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
</div>
